<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooperation.promanager.dao.BasMdcInfoMapper">
  <resultMap id="BaseResultMap" type="com.cooperation.promanager.pojo.BasMdcInfo">
    <id column="basemdcid" jdbcType="BIGINT" property="basemdcid" />
    <result column="mdcname" jdbcType="VARCHAR" property="mdcname" />
    <result column="procateid" jdbcType="BIGINT" property="procateid" />
    <result column="aproid" jdbcType="VARCHAR" property="aproid" />
    <result column="probandid" jdbcType="BIGINT" property="probandid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    basemdcid, mdcname, procateid, aproid, probandid
  </sql>
  <select id="selectByExample" parameterType="com.cooperation.promanager.pojo.BasMdcInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from basmdcinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from basmdcinfo
    where basemdcid = #{basemdcid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from basmdcinfo
    where basemdcid = #{basemdcid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cooperation.promanager.pojo.BasMdcInfoExample">
    delete from basmdcinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cooperation.promanager.pojo.BasMdcInfo">
    insert into basmdcinfo (basemdcid, mdcname, procateid, 
      aproid, probandid)
    values (#{basemdcid,jdbcType=BIGINT}, #{mdcname,jdbcType=VARCHAR}, #{procateid,jdbcType=BIGINT}, 
      #{aproid,jdbcType=VARCHAR}, #{probandid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cooperation.promanager.pojo.BasMdcInfo">
      <!--**********插入记录后，立即得到主键****************-->
      <selectKey keyProperty="basemdcid">
          select last_insert_id()
      </selectKey>
      <!--*****************************-->
      insert into basmdcinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="basemdcid != null">
        basemdcid,
      </if>
      <if test="mdcname != null">
        mdcname,
      </if>
      <if test="procateid != null">
        procateid,
      </if>
      <if test="aproid != null">
        aproid,
      </if>
      <if test="probandid != null">
        probandid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="basemdcid != null">
        #{basemdcid,jdbcType=BIGINT},
      </if>
      <if test="mdcname != null">
        #{mdcname,jdbcType=VARCHAR},
      </if>
      <if test="procateid != null">
        #{procateid,jdbcType=BIGINT},
      </if>
      <if test="aproid != null">
        #{aproid,jdbcType=VARCHAR},
      </if>
      <if test="probandid != null">
        #{probandid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cooperation.promanager.pojo.BasMdcInfoExample" resultType="java.lang.Long">
    select count(*) from basmdcinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update basmdcinfo
    <set>
      <if test="record.basemdcid != null">
        basemdcid = #{record.basemdcid,jdbcType=BIGINT},
      </if>
      <if test="record.mdcname != null">
        mdcname = #{record.mdcname,jdbcType=VARCHAR},
      </if>
      <if test="record.procateid != null">
        procateid = #{record.procateid,jdbcType=BIGINT},
      </if>
      <if test="record.aproid != null">
        aproid = #{record.aproid,jdbcType=VARCHAR},
      </if>
      <if test="record.probandid != null">
        probandid = #{record.probandid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update basmdcinfo
    set basemdcid = #{record.basemdcid,jdbcType=BIGINT},
      mdcname = #{record.mdcname,jdbcType=VARCHAR},
      procateid = #{record.procateid,jdbcType=BIGINT},
      aproid = #{record.aproid,jdbcType=VARCHAR},
      probandid = #{record.probandid,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cooperation.promanager.pojo.BasMdcInfo">
    update basmdcinfo
    <set>
      <if test="mdcname != null">
        mdcname = #{mdcname,jdbcType=VARCHAR},
      </if>
      <if test="procateid != null">
        procateid = #{procateid,jdbcType=BIGINT},
      </if>
      <if test="aproid != null">
        aproid = #{aproid,jdbcType=VARCHAR},
      </if>
      <if test="probandid != null">
        probandid = #{probandid,jdbcType=BIGINT},
      </if>
    </set>
    where basemdcid = #{basemdcid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cooperation.promanager.pojo.BasMdcInfo">
    update basmdcinfo
    set mdcname = #{mdcname,jdbcType=VARCHAR},
      procateid = #{procateid,jdbcType=BIGINT},
      aproid = #{aproid,jdbcType=VARCHAR},
      probandid = #{probandid,jdbcType=BIGINT}
    where basemdcid = #{basemdcid,jdbcType=BIGINT}
  </update>
</mapper>