<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooperation.promanager.dao.BasProInfoMapper">
  <resultMap id="BaseResultMap" type="com.cooperation.promanager.pojo.BasProInfo">
    <id column="baseproid" jdbcType="BIGINT" property="baseproid" />
    <result column="procateid" jdbcType="BIGINT" property="procateid" />
    <result column="probandid" jdbcType="BIGINT" property="probandid" />
    <result column="profacid" jdbcType="BIGINT" property="profacid" />
    <result column="proname" jdbcType="VARCHAR" property="proname" />
    <result column="apronum" jdbcType="VARCHAR" property="apronum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    baseproid, procateid, probandid, profacid, proname, apronum
  </sql>
  <select id="selectByExample" parameterType="com.cooperation.promanager.pojo.BasProInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from basproinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from basproinfo
    where baseproid = #{baseproid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from basproinfo
    where baseproid = #{baseproid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cooperation.promanager.pojo.BasProInfoExample">
    delete from basproinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cooperation.promanager.pojo.BasProInfo">
    insert into basproinfo (baseproid, procateid, probandid, 
      profacid, proname, apronum
      )
    values (#{baseproid,jdbcType=BIGINT}, #{procateid,jdbcType=BIGINT}, #{probandid,jdbcType=BIGINT}, 
      #{profacid,jdbcType=BIGINT}, #{proname,jdbcType=VARCHAR}, #{apronum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cooperation.promanager.pojo.BasProInfo">
      <!--************立即得到主键********************-->
      <selectKey keyProperty="baseproid">
          select last_insert_id()
      </selectKey>
      <!--********************************-->
      insert into basproinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="baseproid != null">
        baseproid,
      </if>
      <if test="procateid != null">
        procateid,
      </if>
      <if test="probandid != null">
        probandid,
      </if>
      <if test="profacid != null">
        profacid,
      </if>
      <if test="proname != null">
        proname,
      </if>
      <if test="apronum != null">
        apronum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="baseproid != null">
        #{baseproid,jdbcType=BIGINT},
      </if>
      <if test="procateid != null">
        #{procateid,jdbcType=BIGINT},
      </if>
      <if test="probandid != null">
        #{probandid,jdbcType=BIGINT},
      </if>
      <if test="profacid != null">
        #{profacid,jdbcType=BIGINT},
      </if>
      <if test="proname != null">
        #{proname,jdbcType=VARCHAR},
      </if>
      <if test="apronum != null">
        #{apronum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cooperation.promanager.pojo.BasProInfoExample" resultType="java.lang.Long">
    select count(*) from basproinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update basproinfo
    <set>
      <if test="record.baseproid != null">
        baseproid = #{record.baseproid,jdbcType=BIGINT},
      </if>
      <if test="record.procateid != null">
        procateid = #{record.procateid,jdbcType=BIGINT},
      </if>
      <if test="record.probandid != null">
        probandid = #{record.probandid,jdbcType=BIGINT},
      </if>
      <if test="record.profacid != null">
        profacid = #{record.profacid,jdbcType=BIGINT},
      </if>
      <if test="record.proname != null">
        proname = #{record.proname,jdbcType=VARCHAR},
      </if>
      <if test="record.apronum != null">
        apronum = #{record.apronum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update basproinfo
    set baseproid = #{record.baseproid,jdbcType=BIGINT},
      procateid = #{record.procateid,jdbcType=BIGINT},
      probandid = #{record.probandid,jdbcType=BIGINT},
      profacid = #{record.profacid,jdbcType=BIGINT},
      proname = #{record.proname,jdbcType=VARCHAR},
      apronum = #{record.apronum,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cooperation.promanager.pojo.BasProInfo">
    update basproinfo
    <set>
      <if test="procateid != null">
        procateid = #{procateid,jdbcType=BIGINT},
      </if>
      <if test="probandid != null">
        probandid = #{probandid,jdbcType=BIGINT},
      </if>
      <if test="profacid != null">
        profacid = #{profacid,jdbcType=BIGINT},
      </if>
      <if test="proname != null">
        proname = #{proname,jdbcType=VARCHAR},
      </if>
      <if test="apronum != null">
        apronum = #{apronum,jdbcType=VARCHAR},
      </if>
    </set>
    where baseproid = #{baseproid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cooperation.promanager.pojo.BasProInfo">
    update basproinfo
    set procateid = #{procateid,jdbcType=BIGINT},
      probandid = #{probandid,jdbcType=BIGINT},
      profacid = #{profacid,jdbcType=BIGINT},
      proname = #{proname,jdbcType=VARCHAR},
      apronum = #{apronum,jdbcType=VARCHAR}
    where baseproid = #{baseproid,jdbcType=BIGINT}
  </update>
</mapper>