<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooperation.promanager.dao.ComProStdMapper">
  <resultMap id="BaseResultMap" type="com.cooperation.promanager.pojo.ComProStd">
    <id column="prostdid" jdbcType="BIGINT" property="prostdid" />
    <result column="prostdname" jdbcType="VARCHAR" property="prostdname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    prostdid, prostdname
  </sql>

    <!--********************后加**********************-->
    <select id="selectByName" parameterType="java.lang.String" resultType="java.lang.Long">
        select prostdid from comprostd where prostdname = #{prostdname}
    </select>

    <!--******************************************-->

  <select id="selectByExample" parameterType="com.cooperation.promanager.pojo.ComProStdExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comprostd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comprostd
    where prostdid = #{prostdid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from comprostd
    where prostdid = #{prostdid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cooperation.promanager.pojo.ComProStdExample">
    delete from comprostd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cooperation.promanager.pojo.ComProStd">
    insert into comprostd (prostdid, prostdname)
    values (#{prostdid,jdbcType=BIGINT}, #{prostdname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cooperation.promanager.pojo.ComProStd">
    insert into comprostd
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prostdid != null">
        prostdid,
      </if>
      <if test="prostdname != null">
        prostdname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prostdid != null">
        #{prostdid,jdbcType=BIGINT},
      </if>
      <if test="prostdname != null">
        #{prostdname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cooperation.promanager.pojo.ComProStdExample" resultType="java.lang.Long">
    select count(*) from comprostd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update comprostd
    <set>
      <if test="record.prostdid != null">
        prostdid = #{record.prostdid,jdbcType=BIGINT},
      </if>
      <if test="record.prostdname != null">
        prostdname = #{record.prostdname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update comprostd
    set prostdid = #{record.prostdid,jdbcType=BIGINT},
      prostdname = #{record.prostdname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cooperation.promanager.pojo.ComProStd">
    update comprostd
    <set>
      <if test="prostdname != null">
        prostdname = #{prostdname,jdbcType=VARCHAR},
      </if>
    </set>
    where prostdid = #{prostdid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cooperation.promanager.pojo.ComProStd">
    update comprostd
    set prostdname = #{prostdname,jdbcType=VARCHAR}
    where prostdid = #{prostdid,jdbcType=BIGINT}
  </update>
</mapper>