<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooperation.promanager.dao.MdcCycleMapper">
  <resultMap id="BaseResultMap" type="com.cooperation.promanager.pojo.MdcCycle">
    <id column="mdccyid" jdbcType="BIGINT" property="mdccyid" />
    <result column="mdcid" jdbcType="BIGINT" property="mdcid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    mdccyid, mdcid
  </sql>

    <!--******************后加***********************-->
    <!--查询全部-->
    <select id="selectAll" resultType="com.cooperation.promanager.pojo.MdcCycle">
        select * from mdccycle
    </select>

    <!--*****************************************-->

  <select id="selectByExample" parameterType="com.cooperation.promanager.pojo.MdcCycleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mdccycle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mdccycle
    where mdccyid = #{mdccyid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mdccycle
    where mdccyid = #{mdccyid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cooperation.promanager.pojo.MdcCycleExample">
    delete from mdccycle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cooperation.promanager.pojo.MdcCycle">
    insert into mdccycle (mdccyid, mdcid)
    values (#{mdccyid,jdbcType=BIGINT}, #{mdcid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cooperation.promanager.pojo.MdcCycle">
    insert into mdccycle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mdccyid != null">
        mdccyid,
      </if>
      <if test="mdcid != null">
        mdcid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mdccyid != null">
        #{mdccyid,jdbcType=BIGINT},
      </if>
      <if test="mdcid != null">
        #{mdcid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cooperation.promanager.pojo.MdcCycleExample" resultType="java.lang.Long">
    select count(*) from mdccycle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mdccycle
    <set>
      <if test="record.mdccyid != null">
        mdccyid = #{record.mdccyid,jdbcType=BIGINT},
      </if>
      <if test="record.mdcid != null">
        mdcid = #{record.mdcid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mdccycle
    set mdccyid = #{record.mdccyid,jdbcType=BIGINT},
      mdcid = #{record.mdcid,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cooperation.promanager.pojo.MdcCycle">
    update mdccycle
    <set>
      <if test="mdcid != null">
        mdcid = #{mdcid,jdbcType=BIGINT},
      </if>
    </set>
    where mdccyid = #{mdccyid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cooperation.promanager.pojo.MdcCycle">
    update mdccycle
    set mdcid = #{mdcid,jdbcType=BIGINT}
    where mdccyid = #{mdccyid,jdbcType=BIGINT}
  </update>
</mapper>