<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooperation.promanager.dao.ProBandMapper">
  <resultMap id="BaseResultMap" type="com.cooperation.promanager.pojo.ProBand">
    <id column="probandid" jdbcType="BIGINT" property="probandid" />
    <result column="probandname" jdbcType="VARCHAR" property="probandname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    probandid, probandname
  </sql>

    <!--****************后加****************-->
    <!--根据品牌名得到品牌id-->
    <select id="selectByName" parameterType="java.lang.String" resultType="java.lang.Long">
        select probandid from proband where probandname = #{probandname}
    </select>
    <!--根据品牌id得到品牌名-->
    <select id="selectById" parameterType="java.lang.Long" resultType="java.lang.String">
        select probandname from proband where probandid = #{probandid}
    </select>
    <!--************************************-->

  <select id="selectByExample" parameterType="com.cooperation.promanager.pojo.ProBandExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from proband
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from proband
    where probandid = #{probandid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from proband
    where probandid = #{probandid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cooperation.promanager.pojo.ProBandExample">
    delete from proband
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cooperation.promanager.pojo.ProBand">
    insert into proband (probandid, probandname)
    values (#{probandid,jdbcType=BIGINT}, #{probandname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cooperation.promanager.pojo.ProBand">
    insert into proband
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="probandid != null">
        probandid,
      </if>
      <if test="probandname != null">
        probandname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="probandid != null">
        #{probandid,jdbcType=BIGINT},
      </if>
      <if test="probandname != null">
        #{probandname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cooperation.promanager.pojo.ProBandExample" resultType="java.lang.Long">
    select count(*) from proband
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update proband
    <set>
      <if test="record.probandid != null">
        probandid = #{record.probandid,jdbcType=BIGINT},
      </if>
      <if test="record.probandname != null">
        probandname = #{record.probandname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update proband
    set probandid = #{record.probandid,jdbcType=BIGINT},
      probandname = #{record.probandname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cooperation.promanager.pojo.ProBand">
    update proband
    <set>
      <if test="probandname != null">
        probandname = #{probandname,jdbcType=VARCHAR},
      </if>
    </set>
    where probandid = #{probandid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cooperation.promanager.pojo.ProBand">
    update proband
    set probandname = #{probandname,jdbcType=VARCHAR}
    where probandid = #{probandid,jdbcType=BIGINT}
  </update>
</mapper>