<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooperation.promanager.dao.ProcateInfoMapper">
  <resultMap id="BaseResultMap" type="com.cooperation.promanager.pojo.ProcateInfo">
    <id column="procateid" jdbcType="BIGINT" property="procateid" />
    <result column="protypeid" jdbcType="BIGINT" property="protypeid" />
    <result column="procatename" jdbcType="VARCHAR" property="procatename" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    procateid, protypeid, procatename
  </sql>
  <select id="selectByExample" parameterType="com.cooperation.promanager.pojo.ProcateInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from procateinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from procateinfo
    where procateid = #{procateid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from procateinfo
    where procateid = #{procateid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cooperation.promanager.pojo.ProcateInfoExample">
    delete from procateinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cooperation.promanager.pojo.ProcateInfo">
    insert into procateinfo (procateid, protypeid, procatename
      )
    values (#{procateid,jdbcType=BIGINT}, #{protypeid,jdbcType=BIGINT}, #{procatename,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cooperation.promanager.pojo.ProcateInfo">
      <!--**********插入后立即得到主键***********-->
      <selectKey keyProperty="procateid">
          select last_insert_id()
      </selectKey>
      <!--*************************************-->
      insert into procateinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="procateid != null">
        procateid,
      </if>
      <if test="protypeid != null">
        protypeid,
      </if>
      <if test="procatename != null">
        procatename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="procateid != null">
        #{procateid,jdbcType=BIGINT},
      </if>
      <if test="protypeid != null">
        #{protypeid,jdbcType=BIGINT},
      </if>
      <if test="procatename != null">
        #{procatename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cooperation.promanager.pojo.ProcateInfoExample" resultType="java.lang.Long">
    select count(*) from procateinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update procateinfo
    <set>
      <if test="record.procateid != null">
        procateid = #{record.procateid,jdbcType=BIGINT},
      </if>
      <if test="record.protypeid != null">
        protypeid = #{record.protypeid,jdbcType=BIGINT},
      </if>
      <if test="record.procatename != null">
        procatename = #{record.procatename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update procateinfo
    set procateid = #{record.procateid,jdbcType=BIGINT},
      protypeid = #{record.protypeid,jdbcType=BIGINT},
      procatename = #{record.procatename,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cooperation.promanager.pojo.ProcateInfo">
    update procateinfo
    <set>
      <if test="protypeid != null">
        protypeid = #{protypeid,jdbcType=BIGINT},
      </if>
      <if test="procatename != null">
        procatename = #{procatename,jdbcType=VARCHAR},
      </if>
    </set>
    where procateid = #{procateid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cooperation.promanager.pojo.ProcateInfo">
    update procateinfo
    set protypeid = #{protypeid,jdbcType=BIGINT},
      procatename = #{procatename,jdbcType=VARCHAR}
    where procateid = #{procateid,jdbcType=BIGINT}
  </update>
</mapper>