<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooperation.promanager.dao.StdCycleMapper">
  <resultMap id="BaseResultMap" type="com.cooperation.promanager.pojo.StdCycle">
    <id column="stdcyid" jdbcType="BIGINT" property="stdcyid" />
    <result column="stdproid" jdbcType="BIGINT" property="stdproid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stdcyid, stdproid
  </sql>

    <!--******************后加*********************-->
    <!--查询全部-->
    <select id="selectAll" resultType="com.cooperation.promanager.pojo.StdCycle">
        select * from stdcycle
    </select>

    <!--*******************************************-->

  <select id="selectByExample" parameterType="com.cooperation.promanager.pojo.StdCycleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stdcycle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stdcycle
    where stdcyid = #{stdcyid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from stdcycle
    where stdcyid = #{stdcyid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cooperation.promanager.pojo.StdCycleExample">
    delete from stdcycle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cooperation.promanager.pojo.StdCycle">
    insert into stdcycle (stdcyid, stdproid)
    values (#{stdcyid,jdbcType=BIGINT}, #{stdproid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cooperation.promanager.pojo.StdCycle">
    insert into stdcycle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stdcyid != null">
        stdcyid,
      </if>
      <if test="stdproid != null">
        stdproid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stdcyid != null">
        #{stdcyid,jdbcType=BIGINT},
      </if>
      <if test="stdproid != null">
        #{stdproid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cooperation.promanager.pojo.StdCycleExample" resultType="java.lang.Long">
    select count(*) from stdcycle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update stdcycle
    <set>
      <if test="record.stdcyid != null">
        stdcyid = #{record.stdcyid,jdbcType=BIGINT},
      </if>
      <if test="record.stdproid != null">
        stdproid = #{record.stdproid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update stdcycle
    set stdcyid = #{record.stdcyid,jdbcType=BIGINT},
      stdproid = #{record.stdproid,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cooperation.promanager.pojo.StdCycle">
    update stdcycle
    <set>
      <if test="stdproid != null">
        stdproid = #{stdproid,jdbcType=BIGINT},
      </if>
    </set>
    where stdcyid = #{stdcyid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cooperation.promanager.pojo.StdCycle">
    update stdcycle
    set stdproid = #{stdproid,jdbcType=BIGINT}
    where stdcyid = #{stdcyid,jdbcType=BIGINT}
  </update>
</mapper>